@model IEnumerable<Salon3.Models.uye>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 style="text-align:center">Üye Düzenle</h3><br />

<p>
    <button style="margin-left : 10px" type="button" class="btn btn-primary"><i class="fa fa-check"></i> @Html.ActionLink("Yeni Kayıt", "Create")</button>
</p>
<table class="table table-striped ">
    <tr class="info">
        <th>
            Ad
        </th>
        <th>
           E-mail
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            <button type="button" class="btn btn-info"><i class="fa fa-pencil-square-o"></i> @Html.ActionLink("Edit", "Edit", new { id = item.uyeID }) </button>
            <button type="button" class="btn btn-success"><i class="fa fa-wrench"></i> @Html.ActionLink("Details", "Details", new { id = item.uyeID }) </button>
            <button type="button" class="btn btn-danger"><i class="fa fa-times"></i> @Html.ActionLink("Delete", "Delete", new { id = item.uyeID })</button>
</td>
    </tr>
}

</table>
