@model Salon3.Models.video

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">
    <h3 style="text-align:center">Sil</h3><br />

    <h4><i class="fa fa-exclamation"></i>  Silmek İstediğini emin misin ?</h4>
    <div>
        <h4>video</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.yol)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.yol)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.film.ad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.film.ad)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <button type="submit" value="Delete" class="btn btn-danger"><i class="fa fa-times"></i> Sil</button> |
                <button type="button" class="btn btn-info"><i class="fa fa-reply-all"></i> @Html.ActionLink("Back to List", "Index")</button>
</div>
        }
    </div>
    </div>