@model IEnumerable<Salon3.Models.slayder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

    <h3 style="text-align:center">Slider Düzenle</h3><br/>

    <p>
        <button style="margin-left : 10px" type="button" class="btn btn-primary"><i class="fa fa-check"></i> @Html.ActionLink("Yeni Kayıt", "Create")</button>
</p>
    <table class="table table-striped ">
        <tr class="info">
            <th>
                Resim Yolu
            </th>
            <th>
                Ad
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.resimYol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.adı)
                </td>
                <td>
                    <button type="button" class="btn btn-info"><i class="fa fa-pencil-square-o"></i> @Html.ActionLink("Düzenle", "Edit", new { id = item.slayderID })</button>
                    <button type="button" class="btn btn-success"><i class="fa fa-wrench"></i> @Html.ActionLink("Detay", "Details", new { id = item.slayderID }) </button>
                    <button type="button" class="btn btn-danger"><i class="fa fa-times"></i> @Html.ActionLink("Sil", "Delete", new { id = item.slayderID }) </button>
                </td>
            </tr>
        }

    </table>

